<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Barra de progreso</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" [attr.ariavaluenow]="progreso1" [style.width]="progreso1 + '%'" aria-valuenow=""
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [attr.ariavaluenow]="progreso2" [style.width]="progreso2 + '%'" aria-valuenow=""
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          leyenda="Progress Azul"
          [progreso]="progreso1"
          (cambioValor)="progreso1=$event"
        ></app-incrementador
          >
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          leyenda="Progress Verde"
          [progreso]="progreso2"
          (cambioValor)="progreso2=$event"
        ></app-incrementador>
      </div>
    </div>
  </div>
</div>